.App {
  text-align: center;
}


ul {
  list-style-type: none;
}

li, p {
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, ul, li {
  color: #343a40;
}

.timer-container {
  color: #28a745;
}

.col-center {
  float: none;
  margin: 0 auto;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
